@font-face {
    font-family: "my-font-h1";
    src:
        local("HelveticaNeue-Bold"), local("Helvetica Neue Bold"),
        url(fonts\HelveticaNeue-Bold.otf) format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "my-font-h2-h3";
    src:
        local("HelveticaNeue-Medium"), local("Helvetica Neue Medium"),
        url(fonts\HelveticaNeue-Medium.otf) format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "my-font-p";
    src:
        local("HelveticaNeue-Roman"), local("Helvetica Neue Roman"),
        url(fonts\HelveticaNeue-Roman.otf) format("opentype");
    font-weight: normal;
}

body {
    font-family: "my-font-p", sans-serif;
    background-color: #F6F6F4;
    color: #000000;
    font-size: 1em;
    line-height: 1.6em;
    overflow-x: hidden;
}

h1 {
    font-family: "my-font-p", sans-serif;
    font-size: 2em;
}

h2 {
    font-size: 1.5625em;
    font-family: "my-font-h2-h3", sans-serif;
    text-align: center;
}

h3 {
    font-size: 1.4em;
    font-family: "my-font-h2-h3", sans-serif;
    text-align: center;
}

p {
    padding: 5% 2% 5% 2%;
    max-width: 65ch;
    margin: 0;
}

header {
    width: 100%;
    background-color: #3F3F3F;
    color: #FFFFFF;
    text-align: center;
    min-height: 64px;
    align-content: center;
}

.search-wrapper-header {
    display: none;
}

.vertical-center {
    padding: 0px !important;
}

/*Settings main*/
main {
    background-color: #D1CCC6;
    padding: 5% 0% 5% 0%;
    margin-bottom: 50px;
}

main h2 h3 {
    text-align: left;
    margin-bottom: 0;
}

main div {
    padding-left: 2%;
}

main a {
    color: #007095;
}

/*Setting section*/
section {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2%;
    display: grid;
    width: 100%;
    justify-content: center;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

footer {
    background-color: #3F3F3F;
    color: #FFFFFF;
    padding: 2% 2% 2% 2%;
}

footer a {
    color: #FFFFFF;
}

footer .footer-container {
    display: flex;
    justify-content: space-between;
}

/*Main navigation*/
.wrapper-navigation {
    background-color: #FFFFFF;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 2% 2% 1%;
}

.main-nav {
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    background-color: #FFFFFF;
}

.main-nav ul {
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-top: 0;
}

.main-nav li {
    border-bottom: 1px solid #000000;
}

.main-nav li a {
    width: 100%;
    height: 100%;
    color: #000000;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

.main-nav .current-page {
    background-color: #3F3F3F;
    color: #FFFFFF;
}

/*Settings nav logon*/
.logon-main-nav {
    background-color: #69525E;
}

.logon-main-nav li {
    border-bottom: 1px solid white;
}

.logon-main-nav li a {
    color: white;
}

#icon-menu {
    font-size: 2em;
    align-self: center;
    color: #000000;
}

.user {
    align-self: center;
    background-color: #3F3F3F;
    padding: 10px;
}

.user a {
    color: #FFFFFF;
    text-decoration: none;
    width: 118px;
    height: 45px;
    font-size: 0.8em;
}

/*Search*/
.search-wrapper {
    padding-left: 5px;
}

.search-wrapper label {
    font-size: 0.8em;
    display: block;
}

.search-wrapper input {
    width: 80%;
    height: 45px;
    font-size: 1.4em;
}

#search-button {
    background-color: #0972C8;
    border: none;
    height: 45px;
    width: 45px;
}

#icon-search {
    color: #FFFFFF;
    font-size: 1.4em;
}

/*breadcrums*/
.container-breadcrums nav ol {
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
    list-style: none;
}

.container-breadcrums nav ol a {
    color: #007095;
}

.container-breadcrums nav ol a:visited {
    color: #8F3EBF;
}

.heading-hidden {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

/*footer-navigation*/
footer ul {
    list-style: none;
    padding: 0px 5px 0px 5px;
    margin: 0;
    font-size: 0.8em;
}

.footer-links li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.socialmedia-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.socialmedia-links span {
    font-size: 3em;
}

/*purple button styling*/
.purple-button {
    background-color: #69525E;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 30px 30px 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    min-width: 300px;
}

.main-mypages div.vertical-center div {
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 300px;
    height: 84px;
    margin-bottom: 30px;
}

/*blue button styling*/
.blue-button {
    background-color: #0972C8;
    color: white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 20px 30px 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    min-width: 300px;
}

/*blue button small styling*/
.blue-button-small {
    background-color: #0972C8;
    color: white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 10px 15px 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    min-width: 100px;
}

/*purple button small styling*/
.purple-button-small {
    background-color: #69525E;
    color: white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.1em;
    padding: 10px 15px 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    min-width: 100px;
}

/*red button small styling*/
.red-button-small {
    background-color: #9C0E1A;
    color: white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 10px 15px 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    min-width: 100px;
}

/*form styling*/
.veichle {
    box-sizing: border-box;
    width: 90%;
    padding: 2%;
    border: 1px solid #000000;
    color: white;
    background-color: #69525E;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}

input[type="radio"] {
    background-color: #fff;
    margin: 5px;
    font: inherit;
    color: currentColor;
    width: 2.2em;
    height: 1.1em;
    border-radius: 50%;
    accent-color: #000000;
}

main input[type="text"] {
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.2em;
}

textarea {
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 18px;
    padding: 20px 30px;
    width: 75.5%;
    height: 150px;
    border: 1px solid #3A3A3A;
    outline: none;
    font-size: 1.4em;
    resize: none;
}

select {
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "my-font-p", sans-serif;
    font-size: 1.2em;
}

.font.style {
    color: #3F3F3F;
}

.input-text-icon {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #3A3A3A;
    border-radius: 18px;
    margin-right: 10px;
    width: 80%;
    background-color: #FFFFFF;
    margin-bottom: 10px;
}

.input-text-icon span {
    font-size: 2em;
}

.input-text-logon {
    display: flex;
    align-items: center;
    padding: 0px;
    border: 1px solid #3A3A3A;
    margin-right: 10px;
    width: 80%;
    background-color: #FFFFFF;
    margin-bottom: 10px;
}

.logon-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    padding-left: 0px;
}

.user-logon {
    justify-self: flex-start;
    padding-left: 0px;
}

main input[type="date"] {
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 10px;
    width: 50%;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "my-font-p", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

main input[type="time"] {
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 10px;
    width: 50%;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "my-font-p", sans-serif;
    font-size: 1.2em;
}

.h2-font {
    padding: 0;
    margin: 0;
    text-align: left;
}

.heading {
    margin-top: 5ch;
}

/*Settings section fardtjanst page*/
section.fardtjanst-page-links {
    grid-template-columns: 80%;
    grid-template-rows: auto auto;
}

section.fardtjanst-page-links .heading {
    grid-area: 1 / 1 / 2 / 2;
}

ul.page-links {
    list-style: none;
    font-size: 1.4em;
    line-height: 2em;
    padding-left: 2%;
    grid-area: 2 / 1 / 3 / 2;
}

/*tablet setting*/
@media screen and (min-width: 800px) and (max-width: 1199px) {
    body {
        overflow-x: visible;
    }

    .vertical-center {
        margin: 0 auto;
        max-width: 1200px;
        padding: 0px !important;
    }

    .search-wrapper {
        display: none;
    }

    .search-wrapper-header {
        display: block;
        justify-self: flex-end;
    }

    .hidden-label {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    header {
        min-height: 84px;
    }

    .main-header {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    /*Search header*/
    .search-wrapper-header {
        position: relative;
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border: 1px solid;
        margin-right: 10px;
        width: 30%;
        background-color: #FFFFFF;
    }

    .search-wrapper-header input {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 1.2em;
    }

    .icon-search-header {
        font-size: 1.4em;
        color: #3F3F3F;
        margin-left: 10px;
    }

    /*mainnav settings*/
    #icon-menu {
        display: none;
    }

    .wrapper-navigation-fullwitdh {
        width: 100%;
        background-color: #FFFFFF;
        min-height: 80px;
    }

    .wrapper-navigation {
        display: grid;
        grid-template-columns: auto auto;
        padding: 0px;
        min-height: 80px;
    }

    .top-nav {
        width: 110px;
        height: 51px;
        display: block;
        grid-area: 1 / 6 / 2 / 7;
        align-self: center;
        justify-self: end;
    }

    .user a {
        font-size: 1em;
    }

    .main-nav {
        display: block;
        position: relative;
        grid-area: 1 / 1 / 2 / 6;
        min-height: 80px;
        align-content: center;
    }

    .main-nav ul {
        list-style: none;
        text-align: left;
        display: flex;
        flex-direction: row;
        padding-left: 0;
        margin-top: 0;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0;
    }

    .main-nav li {
        border-bottom: none;
        padding-right: 10px;
    }

    .main-nav li a {
        width: 80%;
        height: 52px;
        color: #000000;
        text-align: left;
        padding: 14px 16px;
        text-decoration: none;
        float: left;
    }

    .logon-main-nav {
        background-color: #FFFFFF;
    }

    .logon-main-nav li {
        border-bottom: 1px solid #000000;
    }

    .logon-main-nav li a {
        color: #000000;
    }

    section {
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
        margin-bottom: 50px;
    }

    /*Font sizes*/
    h1 {
        font-family: "my-font-p", sans-serif;
        font-size: 3em;
        text-align: left;
        padding-left: 1%;
        padding-top: 1%;
    }

    h2 {
        font-size: 2em;
        font-family: "my-font-h2-h3", sans-serif;
        text-align: center;
    }

    h3 {
        font-size: 1.7em;
        font-family: "my-font-h2-h3", sans-serif;
    }

    p {
        margin: 0 auto;
        font-size: 1.2em;
    }

    footer {
        font-size: 1.4em;
    }

    .h2-font {
        padding: 0;
        margin: 0;
        text-align: left;
    }

    /*Setting main headings*/
    .heading {
        margin-top: 10ch;
        max-width: 65ch;
        padding-left: 2%;
    }

    /*Settings section fardtjanst page*/
    section.fardtjanst-page-links {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }

    section.fardtjanst-page-links .heading {
        grid-area: 1 / 2 / 2 / 5;
    }

    ul.page-links {
        list-style: none;
        font-size: 1.8em;
        line-height: 2em;
        padding-left: 2%;
        grid-area: 2 / 2 / 3 / 5;
    }
}

@media screen and (min-width: 1200px) {
    body {
        overflow-x: visible;
    }

    .vertical-center {
        margin: 0 auto;
        max-width: 1200px;
        padding: 0px !important;
    }

    header {
        min-height: 84px;
    }

    .main-header {
        min-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    .search-wrapper {
        display: none;
    }

    .search-wrapper-header {
        display: block;
        justify-self: flex-end;
    }

    .hidden-label {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    header {
        display: flex;
        min-height: 84px;
        align-items: center;
        justify-content: space-between;
    }

    /*Search header*/
    .search-wrapper-header {
        position: relative;
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border: 1px solid;
        margin-right: 10px;
        width: 30%;
        background-color: #FFFFFF;
    }

    .search-wrapper-header input {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 1.2em;
    }

    .icon-search-header {
        font-size: 1.4em;
        color: #3F3F3F;
        margin-left: 10px;
    }

    /*mainnav settings*/
    #icon-menu {
        display: none;
    }

    .wrapper-navigation-fullwitdh {
        background-color: #FFFFFF;
        min-height: 80px;
    }

    .wrapper-navigation {
        display: grid;
        grid-template-columns: auto auto;
        min-height: 80px;
    }

    .top-nav {
        width: 110px;
        height: 51px;
        display: block;
        grid-area: 1 / 6 / 2 / 7;
        align-self: center;
        justify-self: end;
    }

    .user a {
        font-size: 1em;
    }

    .main-nav {
        display: block;
        position: relative;
        grid-area: 1 / 1 / 2 / 6;
        min-height: 80px;
        align-content: center;
    }

    .main-nav ul {
        list-style: none;
        text-align: left;
        display: flex;
        flex-direction: row;
        padding-left: 0;
        margin-top: 0;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0;
    }

    .main-nav li {
        border-bottom: none;
        padding-right: 10px;
    }

    .main-nav li a {
        width: 80%;
        height: 52px;
        color: #000000;
        text-align: left;
        padding: 14px 16px;
        text-decoration: none;
        float: left;
    }

    .logon-main-nav {
        background-color: #FFFFFF;
    }

    .logon-main-nav li {
        border-bottom: 1px solid #000000;
    }

    .logon-main-nav li a {
        color: #000000;
    }

    section {
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
        margin-bottom: 50px;
    }

    footer {
        font-size: 1.4em;
    }

    /*Font sizes*/
    h1 {
        font-family: "my-font-p", sans-serif;
        font-size: 3em;
        text-align: left;
        padding-left: 2%;
        padding-top: 1%;
    }

    h2 {
        font-size: 2em;
        font-family: "my-font-h2-h3", sans-serif;
        text-align: center;
        padding: 0% 5% 0% 5%;
    }

    h3 {
        font-size: 1.7em;
        font-family: "my-font-h2-h3", sans-serif;
    }

    p {
        margin: 0 auto;
        font-size: 1.2em;
    }

    .h2-font {
        padding: 0;
        margin: 0;
        text-align: left;
    }

    /*Setting main headings*/
    .heading {
        margin-top: 10ch;
        max-width: 65ch;
        padding-left: 2%;
    }

    /*Settings section fardtjanst page*/
    section.fardtjanst-page-links {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }

    section.fardtjanst-page-links .heading {
        grid-area: 1 / 2 / 2 / 4;
    }

    ul.page-links {
        list-style: none;
        font-size: 2em;
        line-height: 2em;
        padding-left: 2%;
        grid-area: 2 / 2 / 3 / 4;
    }
}