@font-face {
    font-family: "my-font-h1";
    src:
        local("HelveticaNeue-Bold"), local("Helvetica Neue Bold"),
        url(fonts\HelveticaNeue-Bold.otf) format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "my-font-h2-h3";
    src:
        local("HelveticaNeue-Medium"), local("Helvetica Neue Medium"),
        url(fonts\HelveticaNeue-Medium.otf) format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "my-font-p";
    src:
        local("HelveticaNeue-Roman"), local("Helvetica Neue Roman"),
        url(fonts\HelveticaNeue-Roman.otf) format("opentype");
    font-weight: normal;
}

body {
    font-family: "my-font-p", sans-serif;
    background-color: #F6F6F4;
    color: #000000;
    font-size: 1em;
}

h1 {
    font-family: "my-font-h1", sans-serif;
}

h2 {
    font-size: 1.5625em;
    font-family: "my-font-h2-h3", sans-serif;
}

h3 {
    font-size: 1.4em;
    font-family: "my-font-h2-h3", sans-serif;
}

header {
    background-color: #3F3F3F;
    color: #FFFFFF;
    text-align: center;
    min-height: 64px;
    align-content: center;
}

.wrapper-navigation {
    background-color: #FFFFFF;
}

main {
    background-color: #D1CCC6;
    padding: 2% 0% 2% 0%;
}

section {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2%;
}

footer {
    background-color: #3F3F3F;
    color: #FFFFFF;
}

footer a {
    color: #FFFFFF;
}

/*Main navigation*/
.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

#icon-menu {
    font-size: 2em;
    align-self: center;
}

.user {
    align-self: center;
}